const apiConfig = {
    protocol: 'http://',
    base: 'localhost',
    port: 8100,
    url: function(endpoint) {
        let address = '';

        address += apiConfig.protocol;
        address += apiConfig.base;

        if (apiConfig.port != null) {
            address += ':' + apiConfig.port;
        }

        address += '/';
        address += endpoint;

        return address;
    }
};

module.exports = apiConfig;